[Unit]
Description=Wayland clipboard history manager, inspired by cliphist
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --watch clipvault store
Restart=on-failure

[Install]
WantedBy=graphical-session.target
